@import 'variables.module.scss';
@import 'normalize.module.scss';

.wrapper {
	width: 90%;

	display: flex;
	flex-direction: column;
	gap: 2.5px;
	margin-bottom: 5vh;

	label {
		font-weight: 700;
		font-size: 28px;
	}

	input {
		border: 0px;
		border-radius: 5px;
		font-size: 28px;
		font-weight: 500;
		padding: 5px 15px;
	}
}